.wrapper-blue1 {
  background-color: $blue1;
  padding: 0 0 50px;
}

.wrapper-blue2 {
  background-color: $blue2;
  padding: 50px 0;
}

.wrapper-blue3 {
  background-color: $blue3;
  padding: 50px 0;
}

em {
  color: $blue1;
  font-style: normal;
}

h1 {
  font-weight: 800;
  font-size: 45px;
}

p {
  font-size: 20px;
}

.home-banner {
  padding: 50px 0 100px;
  height: 65vh;

}
.home-text-container {
  display: flex;
  min-height: 360px;
  align-items: center;
  .home-text-white {
    color: white;
  }

}
.home-text-content {
  .home-text-links {
    margin-top: 40px;
    display: flex;
  }
  h2 {
    color: $blue1;
  }
}

.btn-gplay {
  background-image: url("/images/gplay.png");
  background-size: cover;
  width: 152px;
  height: 53px;
  padding: 1px;
  display: inline-block;
  margin-left: 25px;
}

.home-image-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .home-image {
    display: flex;
    max-width: 360px;
  }

  #banner_img {
  margin-bottom: 170px;
  padding-top: 25px;
  }

  .left-img {
    margin-right: 50px;
  }

  .right-img {
    margin-left: 50px;
  }
}

.home-restaurant-img {
  display: flex;
  justify-content: space-around;
  margin: -170px -150px 50px -150px;
  min-width: 800px;
}

.logo-div {
  display: flex;
  justify-content: space-around;
  .logo-div-small {
    display: flex;
    width: 100px;
  }
  .logo-div-md {
    display: flex;
    width: 200px;
  }
}

.logo-text {
  p {
    margin-top: 30px;
    color: white;
    font-size: 30px;
  }
}


