<div class="wrapper-white">
  <div class="container">
    <div class="home-banner">
      <div class="row">
        <div class="home-text-container col-xs-12 col-md-8">
          <div class="home-text-content">
            <h1>
              Seu estabelecimento sofre com a alta rotatividade de funcionários?
            </h1>
            <p>
              A Opptis te fornece uma plataforma para criação de vagas e o nosso banco de dados se encarrega de achar as melhores opções com maior agilidade.
            <div class="home-text-links">
              <%= link_to "Registre-se", "registro.html", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="home-image-container">
            <div class="home-image">
              <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517834184/restaurante_h7n39s.png", id="banner_img3" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-light_gray">
  <div class="container">

    <div class="row">
      <div class="home-text-container col-xs-12 col-md-8">
        <div class="home-text-content">
          <h2>
            Busque vagas gratuitamente<br>&macr;&macr;&macr;&macr;&macr;&macr;&macr;
          </h2>
          <p>
            <strong>Nossa plataforma não cobra do candidato</strong> em nenhum momento da experiência. Sabemos que no momentode busca de emprego qualquer custo adicional pode se tornar um problema.
          </p>
        </div>
      </div>

        <div class="col-xs-12 col-md-4">
          <div class="home-image-container">
            <div class="home-image" style="margin-bottom: 30px;">
              <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517450058/vagas_izpo2i.png" class="right-img"%>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="home-image-container">
          <div class="home-image">
            <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517840419/nopay_ubvppj.png" class="left-img" >
          </div>
        </div>
      </div>

      <div class="home-text-container col-xs-12 col-md-8">
        <div class="home-text-content">
          <h2>
            Busque vagas gratuitamente<br>&macr;&macr;&macr;&macr;&macr;&macr;&macr;
          </h2>
          <p>
            <strong>Nossa plataforma não cobra do candidato</strong> em nenhum momento da experiência. Sabemos que no momentode busca de emprego qualquer custo adicional pode se tornar um problema.
          </p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="home-text-container col-xs-12 col-md-8">
        <div class="home-text-content" style="margin-bottom: 30px;">
          <h2>
            Busque vagas ﬁxas ou temporárias<br>&macr;&macr;&macr;&macr;&macr;&macr;&macr;
          </h2>
          <p>
            Já está empregado?  <strong>A Opptis também oferece vagas temporárias</strong> para que você possa ter uma renda extra.
          </p>
        </div>
      </div>

        <div class="col-xs-12 col-md-4">
          <div class="home-image-container">
            <div class="home-image" style="margin-bottom: 30px;">
              <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517842226/tempemp2_cft4xb.png" class="right-img"%>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>

<div class="wrapper-blue1">
  <div class="container">

    <div class="logo-div">
      <div class="logo-div-md" style="margin-top: 30px;">
        <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_200/v1517840280/logo-md_mx91hx.png" %>
      </div>
    </div>

    <div class="logo-div">
      <div class="home-text-links" style="margin-top: 20px;">
        <%= link_to "Registre-se", "registro.html", class: "btn btn-info" %>
      </div>
    </div>

  </div>
</div>
